            .footer {
                height: 30rem;
                font-size: 1.6rem;
                padding: 10rem 3rem;
                font-weight: 500;
                &__nav {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    font-size: 2rem;
                    padding-bottom: 3rem;
                    li a {
                        color: $white-color;
                        padding: 2rem;
                        text-decoration: none;
                    }
                }
                &__policy {
                    border-right: 1px solid $white-color;
                    text-align: left;
                    &--title {
                        padding-bottom: 2rem;
                    }
                    &--p {
                        line-height: 3.3rem;
                    }
                }
                &__address {
                    text-align: center;
                    &--title {
                        text-transform: capitalize;
                        padding-bottom: 3rem;
                    }
                }
                @include respond-to(tablet) {
                    height: 50rem;
                    padding: 10rem 3rem 12rem 3rem;
                    &__nav {
                        font-size: 2rem;
                    }
                    &__policy {
                        border-right: 0;
                        border-bottom: 1px solid $white-color;
                        &--p {
                            padding-bottom: 2rem;
                        }
                    }
                }
                @include respond-to(phone) {
                    height: 50rem;
                    padding: 7rem 2rem 12rem 2rem;
                    &__nav {
                        font-size: 1.8rem;
                    }
                }
            }