.u-bg-white {
    background-color: $white-color;
}

.u-bg-black {
    background-color: $black-color;
}

.u-vertical-padding-lg {
    padding-top: 20rem;
    padding-bottom: 40rem;
}

.u-vertical-padding-md {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.u-vertical-padding-sm {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.u-padding-bottom-lg {
    padding-bottom: 20rem;
}

.u-center-text {
    text-align: center;
}

.u-mt-lg {
    margin-top: 15rem;
}

.u-mt-md {
    margin-top: 10rem;
}

.u-mt-sm {
    margin-top: 2rem;
}

.u-mb-lg {
    margin-bottom: 15rem;
}

.u-mb-md {
    margin-bottom: 10rem;
}

.u-mb-sm {
    margin-bottom: 2rem;
}